header{
    background-color: #264653;
}

h1{
    font-size: 48px;
    font-weight: 600;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

body{
    font-family: 'Poppins', sans-serif;
}

.button-color{
    background-color:#E76F51;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 14px;

}

/* Featured Bike Section  */
#bike-section{
    color:#E76F51;
}

#featured-bike img{
    Width:288px;
    Height :243px;
}

#bike1{
    filter: grayscale(100%);
}

#bike2{
    filter: grayscale(100%);
}

/* Latest Section */

.card img{
    width: 337px;
    height: 256px;
}

#customer1{
    Width :149px;
    Height:149px;
}

#customer2{
    Width :149px;
    Height:149px;
}

#customer3{
    Width :149px;
    Height:149px;
}

.card-body{
    text-align: center;
}



.fa-star.filled{
    color:#E77C40;
}
.fa-star.empty{
    color:#E77C40;
}
.first{
   color: #23A6F0;
}



.text{
    color: #E76F51;
}

#faq{
 width: 431.2px;
height: 423.5px;
}

/* Footer  */

footer img{
    width: 135px;
    height: 80px;
}

footer{
    background-color: black;
    border-radius: 5px;
}

footer p{
    color: white;
}